<div class="container mt-5 mb-3">
    <div class="row justify-content-center align-item-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <a routerLink="/Sign-In"><i class="fa-solid text-dark fa-arrow-left fa-2x"></i></a>
                        <h3 class="card-title text-center text-uppercase text-dark flex-grow-1">Forget Password</h3>
                    </div>
                    <hr/>
                    <form #emailForm="ngForm" (ngSubmit)="submitForm(emailForm)">
                        <div class="row mt-3 d-flex align-item-center">
                            <div class="form-group">
                                <label for="email" class="fw-bold text-uppercase mb-3">Email Id</label>
                                <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email"
                                    required email placeholder="Please enter your email">
                                <div *ngIf="emailForm.controls['email'].invalid && emailForm.controls['email'].touched"
                                    class="text-danger">
                                    <div *ngIf="emailForm.controls['email'].errors?.['required']">Email is required.
                                    </div>
                                    <div *ngIf="emailForm.controls['email'].errors?.['email']">Invalid email format.
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <button type="submit" [disabled]="emailForm.invalid"
                                class="btn btn-outline-primary text-uppercase">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>